.wrapper{
    height: 42px;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonText{
    font-size: 16px;
    color: #255DEF;
}