.socialNetworkSection {
    width: 352px;
    height: 127px;
    margin-top: 20px;
    padding: 32px 24px 24px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
}

.iconWrapper {
    margin-top: 18px;
    display: flex;
}

.img {
    height: 41px;
    width: 41px;
    margin-right: 11px;
}