.header{
    background-color: white;
    height: 80px;
    padding: 25px 150px 25px 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.titleContainer{
    font-weight: bold;
    border-left: 1px solid #D7D7D7;
    padding-left: 15px;
    align-items: center;
    display: flex;
    height: 27px;
}

.subHeader{
    height: 285px;
    background: url("../../../static/img/Rectangle 3572.png"), white;
    background-size: cover;
}
.leftSide{
    display: flex;
    align-items: center;
}