.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    padding: 0 24px;
    font-weight: 600;
    color: #6A6A6A;
    background: #F2F2F2;
    border-radius: 21.5px;
    margin-bottom: 12px;
    margin-right: 8px;
}