@font-face {
    font-family: Proxy;
    src: url("./static/fonts/12093.ttf");
}

body {
    background-color: #E5E5E5;
}
/*Зануляем*/
body, p, h1, h2, h3, h4, h5, div, header, button {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxy
}